[Unit]
Description=Geth Ethereum Daemon
After=network.target

[Service]
# To run as user, comment out above and uncomment below, fill in user and group
# picks up users default config.toml in /dmdata
User=ubuntu
Group=ubuntu
ExecStart=/usr/bin/geth --config /dmdata/config.toml console 2>> /dmdata/.ethereum/geth.log
Restart=on-failure

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives geth time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target